<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form th:action th:object="${foodStore}" th:method="post">
    <div>
        <label for="storeName">음식점 이름</label>
            <input type="text" id="storeName" th:field="*{storeName}" class="form-control">
    </div>
    <div>
        <label for="pos">위치</label>
        <input type="text" id="pos" th:field="*{pos}" class="form-control">
    </div>
    <div th:each="menu = ${foodStore.menuList}" class="form-check form-check-inline">
        <label th:for="*{menu.menuName}" th:text="${menu.menuName}">Property</label>
        <input type="text" class="form-control" th:field="*{menu.menuName}" />
    </div>

</form>
</body>
</html>